h1 {
    color: red;
}

h2 {
    color: rgb(19, 51, 233);
}

h3 {
    color: rgb(125, 158, 248);
    text-decoration: underline;
    text-align: center;
}

#hiddenSpan {
    display: none;
}

#appendDiv {
    border: 1px solid black;
}

a {
    text-decoration: none;
}